tr, td{
    border: 1px solid black;
}
td{
    width: 40px;
    height: 51px;
}
img{
    width: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,1); /* Параметры тени */
}
.cell{
    position: fixed;
}
body{

}
.root{
    position: absolute;
    width: 100%;
}